@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ranchers&display=swap');
.sidebarOption {
    display: flex;
    align-items: center;
    color: rgb(233, 223, 138);
    height: 35px;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    cursor: pointer;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption:hover {
    color: royalblue ;
}

.sidebarOption > p {
    margin-top: 9px;
    margin-left: 20px;
    font-size: 14px;
}
